.config {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: calc(0.85rem * var(--ui-scale));

  margin-top: 8px;
  gap: 8px;

  color: rgba(white, 60%);

  user-select: none;

  & > div {
    display: flex;
    justify-content: flex-end;
    gap: 6px;

    & > a {
      color: rgba(white, 60%);

      &:hover {
        color: white;
        cursor: pointer;
      }

      &.selected {
        color: white;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;

    gap: 12px;
    max-width: 300px;
    margin-top: 12px;
  }
}
