.time,
.date {
  font-family: var(--font-family);

  text-shadow: 0.075em 0.075em black;
  text-transform: uppercase;

  margin: 0;
}

.time {
  font-size: calc(4rem * var(--ui-scale) * var(--clock-scale));
  line-height: 1.1;
  margin-bottom: 8px;
}

.date {
  font-size: calc(1.5rem * var(--ui-scale) * var(--clock-scale));
  margin-bottom: 28px;
}
